<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>DB Discos - JPW</title>
</head>

<body>
    <script src="../public/main.js"></script>

    <h1>DB Discos</h1>

    <form action="/discos" method="POST">
        <input type="text" placeholder="Título" name="titulo">
        <input type="text" placeholder="Artista" name="artista">
        <input type="text" placeholder="Ano" name="ano">
        <input type="text" placeholder="Gênero" name="genero">
        <input type="text" placeholder="Gravadora" name="gravadora">
        <button type="submit" name="action" value="Insert">Inserir</button>
    </form>

    <form action="/search" method="PUT">
        <input type="text" placeholder="Título" name="titulo">
        <input type="text" placeholder="Artista" name="artista">
        <input type="text" placeholder="Ano" name="ano">
        <input type="text" placeholder="Gênero" name="genero">
        <input type="text" placeholder="Gravadora" name="gravadora">
        <button type="submit" name="action" value="Search">Buscar</button>
    </form>

    <h2> Discos: </h2>

    <ul class="Discos">
        <% for(var i = 0; i < discos.length; i++) {%>
        <li class="titulos">
            <span><%= discos[i].artista %></span> - 
            <span><%= discos[i].titulo %></span>
            (<span><%= discos[i].gravadora %></span>:
            <span><%= discos[i].ano %></span>) -
            <span><%= discos[i].genero %></span>
        </li>
        <% } %>
    </ul> 

    <div>
        <p>
          Replace 
        </p>
        <button id="update-button">Buscar ou editar</button>
    </div>
</body>

</html>